[default_macros]
cooldown: TURN_OFF_HEATERS
extrude: _GUPPYSCREEN_EXTRUDE EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
retract: _GUPPYSCREEN_RETRACT EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
load_filament: LOAD_FILAMENT EXTRUDER_TEMP={}
unload_filament: UNLOAD_FILAMENT EXTRUDER_TEMP={}

[ui]
invert_z_icon: false
prompt_emergency_stop: true
# specify -1 for never
display_sleep_sec: 600
# log levels are info, debug, trace
log_level: info
display_rotate: 3
# for displaying the current chamber temp in printing ui
chamber_temp_sensor: temperature_sensor chamber_temp
# comma-separated extruder panel button values
extruder_temp_presets: 190, 200, 220, 230, 240, 260, 280, 300
extruder_temp_default: 230
extruder_length_presets: 5, 10, 15, 20, 25, 30, 35, 45
extruder_length_default: 10
extruder_speed_presets: 1, 2, 5, 10, 15, 20, 22, 25
extruder_speed_default: 5

# blue = primary_colour: 0x2196F3, secondary_colour: 0xF44336
# green = primary_colour: 0x4CAF50, secondary_colour: 0xF44336
# pink = primary_colour: 0xFEC5E5, secondary_colour: 0xE91E63
# purple = primary_colour: 0x9C27B0, secondary_colour: 0xF44336
# red = primary_colour: 0xF44336, secondary_colour: 0xF44336
# yellow = primary_colour: 0xFFEB3B, secondary_colour: 0xF44336
[theme]
primary_colour: 0x2196F3
secondary_colour: 0xF44336

[moonraker]
host: 127.0.0.1
port: 7125
# set this if host is not 127.0.0.1 / localhost or you want to download thumbnails
thumbnail_path:

[commands]
factory_reset_cmd: /etc/init.d/S58factoryreset reset
gui_restart_cmd: /etc/init.d/S99grumpyscreen restart
switch_to_stock_cmd: /usr/data/pellcorp/k1/switch-to-stock.sh
support_zip_cmd: /usr/data/pellcorp/tools/support.sh
restart_klipper_cmd: /etc/init.d/S55klipper_service restart
shutdown_host_cmd: /sbin/halt

[fan "fan_generic part"]
display_name: Toolhead

[fan "output_pin fan0"]
display_name: Toolhead

[fan "fan"]
display_name: Toolhead

[fan "fan_generic chamber"]
display_name: Chamber

[fan "output_pin fan1"]
display_name: Chamber

[fan "fan_generic auxiliary"]
display_name: Auxiliary

[fan "output_pin fan2"]
display_name: Auxiliary

[led "output_pin LED"]
display_name: LED
pwm: false

[led "output_pin red_pin"]
display_name: Red
pwm: false

[led "output_pin green_pin"]
display_name: Green
pwm: false

[led "output_pin yellow_pin"]
display_name: Yellow
pwm: false

[led "output_pin light_pin"]
display_name: Light
pwm: false

[monitored_sensor "extruder"]
display_name: Extruder
color: red
controllable: true

[monitored_sensor "heater_bed"]
display_name: Bed
color: purple
controllable: true

[monitored_sensor "temperature_fan chamber_fan"]
display_name: Chamber
color: blue
controllable: true
